@model IEnumerable<ReviewApp.Model.Show>

@{ 
    float averageScore = 0;
}
<div class="row" id="tbl-shows">
    @foreach (var item in Model)
    {
        <a asp-controller="Show" asp-action="Details" asp-route-id="@item.ID">
            <div class="characters col-md-2 col-sm-6 col-xs-12">
                <div class="row">
                    <img src="@Url.Content("~/shows/" + item.PictureURL)" width="200" height="300" />
                    <label>
                        @foreach (var score in @item.UserRatings)
                        {
                            averageScore = averageScore + score.Score;
                            if (score.Equals(item.UserRatings.Last()))
                            {
                                item.AverageScore = (averageScore / item.UserRatings.Count());
                                averageScore = 0;
                            }
                        }
                                        @item.AverageScore.ToString("F")
                                    </label> <i class="fa fa-star" aria-hidden="true" style="color:#f5c518;"></i>

                    <h4>@item.Title</h4>
                </div>
            </div>
        </a>

    }
</div>